GG_ID=
GG_SECRET=

## should define this, required
NEXTAUTH_URL=http://localhost:3000
## run this `$ openssl rand -base64 32` in your teminal and get the code
NEXTAUTH_SECRET=

BACKEND_HOST=http://localhost:8080

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_CLOUD_NAME=
UPLOAD_PRESET_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=