@tailwind base;
@tailwind components;
@tailwind utilities;

.white-scrollbar {
  overflow-y: scroll;
}
.white-scrollbar::-webkit-scrollbar {
  width: 8px;
  scroll-behavior: smooth;
}

.white-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.white-scrollbar::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 5px;
}

.white-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d1d5db;
}

.default-scrollbar {
  overflow-y: scroll;
}
.default-scrollbar::-webkit-scrollbar {
  width: 8px;
  scroll-behavior: smooth;
}

.default-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.default-scrollbar::-webkit-scrollbar-thumb {
  background: #707070;
  border-radius: 5px;
}

.default-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #5e5e5e;
}

/* for removing defaut arrow in number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
